@model ListCategoryModel

@{
    Func<bool, string> getState = state => state ? "Hiển thị" : "Ẩn";
}
@using (Html.BeginForm())
{
    @Html.Partial("_Toolbar")



    <div id="PageList" class="t-widget t-grid">
        <table id="category" cellspacing="0">
            <thead class="t-grid-header">
                <tr>
                    <th scope="col" class="t-header">
                        <span class="t-link">Danh mục</span>
                    </th>
                    <th scope="col" class="t-header">
                        <span class="t-link">Đường dẫn</span>
                    </th>
                    <th scope="col" class="t-header">
                        <span class="t-link">Số thứ tự</span>
                    </th>
                    <th scope="col" class="t-header">
                        <span class="t-link">Trạng thái</span>
                    </th>
                    <th scope="col" class="t-header">
                        <span class="t-link">Thao tác</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListCategories)
                {
                    <tr id="@item.Id" displaystate="collapsed">
                        <td style="vertical-align: middle;">
                            @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
                            @* @Html.ActionLink(item.Name, "Edit", new { controller = "SieuWebCategories", categoryId = item.Id, typeId = item.TypeId })*@
                        </td>
                        <td>
                            <span>@item.Alias</span>
                        </td>
                        <td>
                            <span>@item.OrderNumber</span>
                        </td>
                        <td>
                            <span id="id_@(item.Id)">@getState(item.Status)</span>
                        </td>

                        <td class="t-last">
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                            |
                            @*@Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { onclick = "return deleteConfirm('Bạn có  chắc chắn muốn xóa danh mục này không?', '" + @Url.Action("Delete", new { id = item.Id }) + "')" })*@
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>

    $(function () {
        var isUpdated;
        $("#category tbody").sortable({
            axis: "y",
            //handle: "td.sorter",
            //cancel: "input,textarea,button,select,option",
            placeholder: "ui-state-highlight",
            update: function (e, ui) {
                isUpdated = true;
                ui.sortableUpdated = true;

            },
            beforeStop: function (e, ui) {

            },
            stop: function (e, ui) {
                if (isUpdated == true) {
                    var ids = $(this).sortable('toArray');
                    //var positions = order.join(';');
                    //console.log(positions);
                    $.ajax({
                        url: "/Admin/Categories/UpdateRecord",
                        type: "POST",
                        data: { ids: ids },
                        traditional: true,
                    }).done(function (data) {
                        window.location.href = window.location.href
                    }).fail(function (jqXHR, textStatus, errorThrown) {

                    });
                }
            }
        });
        //$("#table-appearance tbody").disableSelection();
    });
</script>