@model Falcon.Modules.Home.Models.TicketModel
<form action="tickets.php" method="get" id="ticketSearchForm">
    <input type="hidden" name="a" value="search">
    <div class="banner banner-view banner-open">
        <!-- BANNER START -->
        <p>
            <a href="open.php">Tạo hỗ trợ mới</a>
            <a href="view.php">Kiểm tra tình trạng yêu cầu </a>
        </p>
        <div class="search hidden-sm hidden-xs">
            <input type="text" class="txtSearch" placeholder="Nhập câu hỏi hoặc chủ đề nếu bạn muốn tìm kiếm" name="q">
            <button type="button" class="button btn-registration " onclick="quicksearch();">
                <span>Tìm kiếm</span>
            </button>
        </div>
        <div class="search-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <input type="text" class="txtSearch" placeholder="Nhập câu hỏi hoặc chủ đề nếu bạn muốn tìm kiếm" name="q">
                </div>
                <div class="col-sm-12 col-xs-12">
                    <button type="button" class="button btn-registration " onclick="quicksearch();">
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- END BANNER -->
<div class="content">
    <!-- CONTENT START -->
    <div class="container">


        @using (Html.BeginForm("CreateSupport", "Home", FormMethod.Post,
                         new { enctype = "multipart/form-data", @id = "ticketForm" }))
        {

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="box-group box-group-home">
                    <input type="hidden" name="" value="">
                    <input type="hidden" name="a" value="open">
                    <div class="box-help">
                        <h2 class="product-name product-name-home" style="margin-top: 0px !IMPORTANT;"><a href="#">CHỦ ĐỀ TRỢ GIÚP</a></h2>
                        @*<select required="" id="topicId" name="topicId" onchange="javascript:
                                    var data = $(':input[name]', '#dynamic-form').serialize();
                            $.ajax(
                                    'ajax.php/form/help-topic/' + this.value,
                                    {
                                        data: data,
                                        dataType: 'json',
                                        success: function(json) {
                                            $('#dynamic-form').empty().append(json.html);
                                            $(document.head).append(json.media);
                                        }
                                    });">
                                <option value="" selected="selected">— Lựa chọn mục hỗ trợ —</option>
                                <option value="20">Báo lỗi hệ thống, tính năng web</option>
                                <option value="25">Hỗ trợ dịch vụ email@tên miền</option>
                                <option value="21">Hỗ trợ dịch vụ đi kèm</option>
                                <option value="1">Hỗ trợ giao diện, tính năng web</option>
                                <option value="18">Hỗ trợ đăng ký website TMĐT-BCT</option>
                                <option value="12">Hỗ trợ đăng ký, gia hạn tên miền</option>
                                <option value="17">Tư vấn hỗ trợ khác</option>
                                <option value="16">Tư vấn thiết kế website</option>
                            </select>*@
                        @{

                                  var listItems = new List<SelectListItem>()
                                 {
                                           new SelectListItem {Text = "Báo lỗi hệ thống, tính năng web",   Value = "Báo lỗi hệ thống, tính năng web"},
                                           new SelectListItem {Text = "Hỗ trợ dịch vụ email@tên miền", Value = "Hỗ trợ dịch vụ email@tên miền"},
                                           new SelectListItem {Text = "Hỗ trợ dịch vụ đi kèm", Value = "Hỗ trợ dịch vụ đi kèm"},
                                           new SelectListItem {Text = "Hỗ trợ giao diện, tính năng web", Value = "Hỗ trợ giao diện, tính năng web"},
                                           new SelectListItem {Text = "Hỗ trợ đăng ký website TMĐT-BCT", Value = "Hỗ trợ đăng ký website TMĐT-BCT"},
                                           new SelectListItem {Text = "Hỗ trợ đăng ký, gia hạn tên miền", Value = "Hỗ trợ đăng ký, gia hạn tên miền"},
                                           new SelectListItem {Text = "Tư vấn hỗ trợ khác", Value = "Tư vấn hỗ trợ khác"},
                                           new SelectListItem {Text = "Tư vấn thiết kế website", Value = "Tư vấn thiết kế website"}
                                        

                                  };

                            @Html.DropDownListFor(m => m.Subject, listItems, "— Lựa chọn mục hỗ trợ —", new { @id= "topicId" })
                        }


                       

                        <span class="sao">&nbsp;* </span>

                    </div>
                    <div class="box-small1">
                        <h2 class="product-name product-name-home"><a href="#">THÔNG TIN LIÊN HỆ</a></h2>

                        <p class="textbox-input-1">
                            <label> Email</label>
                            @*<input size="45" class="input-text" type="text" id="_996352b317321dfc" maxlength="64" placeholder="Địa chỉ email" name="996352b317321dfc" value="" required="">*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-text", @id = "email", @placeholder = "Địa chỉ email" })
                            <font class="error">*</font>
                        </p>
                        <p class="textbox-input-2">
                            <label> Họ  tên</label>
                            @* <input size="45" class="input-text" type="text" id="_06f9aabc2728953b" maxlength="64" placeholder="Họ tên" name="06f9aabc2728953b" value="" required="">*@
                            @Html.TextBoxFor(m => m.Name, new { @class = "input-text", @id = "name", @placeholder = "Họ tên" })

                            <font class="error">*</font>
                        </p>
                        <p class="textbox-input-3">
                            <label> Website </label>
                            @*<input size="45" class="input-text" type="text" id="_80933c7204c57004" maxlength="100" placeholder="Website" name="80933c7204c57004" value="">*@
                            @Html.TextBoxFor(m => m.Website, new { @class = "input-text", @id = "website", @placeholder = "Website" })
                        </p>
                    </div>

                    <div id="dynamic-form">
                    </div>
                    <div class="box-small-ht">
                        <h2 class="product-name product-name-home"><a href="#">THÔNG TIN CHI TIẾT YÊU CẦU</a></h2>

                        <h3 class="product-tile">Tiêu đề</h3>
                        <!--                        <input class="tt" type="text" name="tt" placeholder="Tóm tắt yêu cầu" size="70"><span-->
                        <!--                            class="sao">&nbsp;*</span></br>-->
                        <p class="textbox-input-1">
                            <label> Tóm tắt yêu cầu </label>
                            @* <input size="45" class="input-text" type="text" id="_35bfdf95df8b4c7b" maxlength="300" placeholder="Tóm tắt yêu cầu" name="35bfdf95df8b4c7b" value="" required="">*@
                            @Html.TextBoxFor(m => m.TitleRequired, new { @class = "input-text", @id = "title_required", @placeholder = "Tóm tắt yêu cầu" })
                            <font class="error">*</font>
                        </p>
                        <p class="textbox-input-2">
                        </p><div style="margin-bottom:0.5em;margin-top:0.5em"><strong>Nội dung yêu cầu</strong>:</div>

                        <div class="redactor_box no-pjax">
                            @*<textarea id="redactor" name="content"></textarea>*@
                            @Html.TextAreaFor(m => m.ContentRequired, new { @class = "input-text", @id = "redactor", @placeholder = "Nội dung yêu cầu", @name = "content" })
                        </div>

                        <div class="filedrop">
                            <div class="files"></div>
                            <div class="dropzone">
                                <i class="icon-upload"></i>
                                <a href="#" class="manual"> Đính kèm tệp tin </a>

                                <input type="file" name="attach_files" multiple="multiple" style="display:none; width: auto; height: auto;" accept="image/bmp,image/gif,image/jpeg,image/png,image/svg+xml,image/tiff,image/vnd.adobe.photoshop,image/vnd.microsoft.icon,image/x-ico,application/postscript,audio/aiff,audio/mpeg,audio/mp4,audio/ogg,0,audio/vnd.wav,audio/wav,audio/x-midi,text/css,text/html,text/javascript,text/plain,text/xml,application/json,application/javascript,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-word.document.macroEnabled.12,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel.sheet.macroEnabled.12,application/vnd.ms-excel.sheet.binary.macroEnabled.12,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.ms-powerpoint.presentation.macroEnabled.12,application/vnd.ms-powerpoint.slideshow.macroEnabled.12,application/vnd.ms-access,application/vnd.ms-project,application/msonenote,application/vnd.ms-publisher,application/rtf,application/vnd.ms-works,application/vnd.apple.keynote,application/vnd.apple.pages,application/vnd.apple.numbers,application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.text-web,application/vnd.oasis.opendocument.text-master,application/vnd.oasis.opendocument.graphics,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,application/vnd.oasis.opendocument.chart,application/vnd.oasis.opendocument.formula,application/vnd.oasis.opendocument.database,application/vnd.oasis.opendocument.image,application/vnd.openofficeorg.extension,application/wordperfect,application/vnd.kde.karbon,application/vnd.kde.kchart,application/vnd.kde.kformula,application/vnd.kde.kivio,application/vnd.kde.kontour,application/vnd.kde.kpresenter,application/vnd.kde.kspread,application/vnd.kde.kword,application/pdf,.csv,application/illustrator,application/x-director,application/x-indesign,text/vcard,image/x-dwg,image/vnd.dwg,image/vnd.dxf,application/x-autocad,application/x-mathcad,application/x-msmoney,application/x-latex,video/avi,video/mpeg,video/mp4,video/ogg,video/quicktime,video/webm,video/x-ms-asf,video/x-ms-wmv,application/x-dvi,application/x-shockwave-flash,application/tar,application/gzip,application/x-lha,application/rar,application/x-compress,application/zip,application/x-7z-compressed">
                            </div>
                        </div>

                        <div class="actions">
                            <button type="submit" class="button btn-registration">
                                <span class="event-Support-tickey-submit">Gửi yêu cầu </span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
                            }
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <style type="text/css">
                .box-right-content a:hover {
                    color: #2db3db !important;
                }
            </style>
            <div class="guide-create box-right" style="background:#fff;margin-top: 6px !important;">
                <div class="box-right-name">
                    <h4 class="box-right-content-title">Hướng dẫn tạo web cơ bản</h4>
                </div>
                <div class="guide-list-items clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="guide-item col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <a href="https://docs.bizweb.vn/5-buoc-hoan-thien-website.html" target="_blank"><i class="icon-guide step"></i></a>
                                    </div>
                                    <div class="title col-xs-12 col-sm-12 col-md-8 text-left">
                                        <a href="https://docs.bizweb.vn/5-buoc-hoan-thien-website.html" target="_blank">
                                            5 bước hoàn thiện website
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="guide-item col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <a href="https://docs.bizweb.vn/manual.html" target="_blank"><i class="icon-guide manual"></i></a>
                                    </div>
                                    <div class="title col-xs-12 col-sm-12 col-md-8 text-left">
                                        <a href="https://docs.bizweb.vn/manual.html" target="_blank">
                                            Hướng dẫn sử dụng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="guide-item col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <a href="http://support.bizweb.vn/documents/Cam%20nang%20huong%20dan%20su%20dung%20Bizweb%20Sky.pdf" target="_blank"><i class="icon-guide document"></i></a>
                                    </div>
                                    <div class="title col-xs-12 col-sm-12 col-md-8 text-left">
                                        <a href="http://support.bizweb.vn/documents/Cam%20nang%20huong%20dan%20su%20dung%20Bizweb%20Sky.pdf" target="_blank">
                                            Tài liệu hướng dẫn
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="guide-item col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <a href="http://forum.bizweb.vn/" target="_blank"><i class="icon-guide forum"></i></a>
                                    </div>
                                    <div class="title col-xs-12 col-sm-12 col-md-8 text-left">
                                        <a href="http://forum.bizweb.vn/" target="_blank">
                                            Thảo luận diễn đàn
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="guide-create box-right box-right2 " style="background:#fff;">

                <div class="box-right-name">
                    <h4 class="box-right-content-title">Liên hệ hỗ trợ</h4>
                </div>
                <div class="guide-list-items clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="guide-item col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <i class="icon-guide email"></i>
                                    </div>
                                    <div class="info col-xs-12 col-sm-12 col-md-8 text-left" style="line-height: 40px;">
                                        <span>support@bizweb.vn</span>
                                    </div>
                                </div>
                            </div>

                            <div class="guide-item col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                <div class="clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <i class="icon-guide contact"></i>
                                    </div>
                                    <div class="info col-xs-12 col-sm-12 col-md-8 text-left">
                                        Tổng đài hỗ trợ khách hàng 1900 6750<br>
                                        Hỗ trợ các ngày trong tuần từ thứ 2 đến Chủ nhật
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="draft_id" value="312141">



        <!-- END CONTENT -->

    </div>
</div>

<script type="text/javascript">
    Dropzone.options.DropZoneDemo = {
        init: function () {
            this.on("complete", function (data) {
                var res = eval('(' + data.xhr.responseText + ')');
                alert(res.Message);
            });
        }
    };
</script>
<script>
    $(".filedrop .manual").click(function () {
        $(".filedrop input").trigger("click");
    });
    $( ".filedrop .icon-upload" ).click(function() {
        $(".filedrop input").trigger("click");
    });

</script>