<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    @SetMeta(new Falcon.UI.Resources.MetaEntry { HttpEquiv = "Content-Type", Content = "text/html; charset=utf-8"})
    @Css("reset.css?v=1.0")
    @Css("boxes.css?v=1.0")    
    @*<link rel="icon" href="http://magento.vn:8888/skin/adminhtml/default/default/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://magento.vn:8888/skin/adminhtml/default/default/favicon.ico" type="image/x-icon" />*@
    @Js("jquery.js?v=1.0")
    <!--[if IE]> @Css("iestyles.css?v=1.0") <![endif]-->
    <!--[if lt IE 7]> @Css("below_ie7.css?v=1.0")<![endif]-->
    <!--[if IE 7]> @Css("ie7")<![endif]-->
</head>
<body id="page-login">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WM8XKV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WM8XKV');</script>
    <!-- End Google Tag Manager -->
@RenderBody()
</body>
</html>
