<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="google-site-verification" content="JicnhwVZUx-kj0-S5ZZkFx3zS-VRMkpZ8k17dEfn8bI" />
    @SetMeta("description", ViewBag.MetaDescription)
    @SetMeta("keyword", ViewBag.MetaKeyword)
    @if (ViewBag.CanonicalLink != null)
    {
        <link rel="canonical" href="@ViewBag.CanonicalLink" />
    }
    @{
        var css = ViewData["CSS"].ToString();
    }
    <link rel="shortcut icon" href="/Themes/Portal/Default/Images/favicon.ico?v1" type="image/x-icon" />

    <link href="~/Themes/Portal/Default/Styles_New/css/dist/@(css).min.css?v=105" rel="stylesheet" />
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <script src="~/Themes/Portal/Default/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Themes/Portal/Default/Scripts/swiper.min.js"></script>
    <script src="/Themes/Portal/Default/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!--d3chart-->
     <script src="~/Scripts/D3Chart/RadarChart.js"></script>
    <script src="~/Scripts/D3Chart/d3.v3.js"></script>
</head>
<body>
    <div id="container">
        @Html.Partial(ThemeViewPath + "Include/Header.cshtml")
        <div id="wrapper">
            <div class="hotro-pagebody register-pagebody ktttht-pagebody login-pagebody  home-pagebody" id="id_hotro_content">
                @RenderBody()
            </div>
        </div>
        @Html.Partial(ThemeViewPath + "Include/Footer.cshtml")
    </div>
</body>
</html>
